<!-- Main -->
<main class="main-container">
    <div class="main-title">
      <h2>DASHBOARD</h2>
    </div>

    <div class="main-cards">

      <div class="card">
        <div class="card-inner">
          <h3>PRODUCTS</h3>
          <span class="material-icons-outlined">inventory_2</span>
        </div>
        <h1>249</h1>
      </div>

      <div class="card">
        <div class="card-inner">
          <h3>CATEGORIES</h3>
          <span class="material-icons-outlined">category</span>
        </div>
        <h1>1</h1>
      </div>

      <div class="card">
        <div class="card-inner">
          <h3>SUPPLIES TAKEN</h3>
          <span class="material-icons-outlined">groups</span>
        </div>
        <h1>123</h1>
      </div>

      <div class="card">
        <div class="card-inner">
          <h3>SUPPLIES LEFT</h3>
          <span class="material-icons-outlined">
            inventory
            </span>
        </div>
        <h1>126</h1>
      </div>

    </div>

    <div class="charts">



    </div>
  </main>

  
  <!-- End Main -->

