<!--Title-->
<main class="main-container">
  <div class="main-title">
    <h2>DASHBOARD</h2>
  </div>

  <!-- Main -->
  <div class="main-cards">
  <mat-card class="example-card" appearance="outlined">
    <mat-card-header>
      <span class="material-icons-outlined icon-size">inventory_2</span>
      <mat-card-title-group class="center-content">
        <mat-card-title>TOTAL ITEMS</mat-card-title>
        <mat-card-subtitle>{{totalQuantity}}</mat-card-subtitle>
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content>
    </mat-card-content>
  </mat-card>

  <mat-card class="example-card" appearance="outlined">
    <mat-card-header>
      <span class="material-icons-outlined icon-size">category</span>
      <mat-card-title-group class="center-content">
        <mat-card-title>CATEGORIES</mat-card-title>
        <mat-card-subtitle>1</mat-card-subtitle>
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content>
    </mat-card-content>
  </mat-card>

  <mat-card class="example-card" appearance="outlined">
    <mat-card-header>
      <span class="material-icons-outlined icon-size">groups</span>
      <mat-card-title-group class="center-content">
        <mat-card-title>SUPPLIES TAKEN</mat-card-title>
        <mat-card-subtitle>{{totalSuppliesTaken}}</mat-card-subtitle>
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content>
    </mat-card-content>
  </mat-card>

  <mat-card class="example-card" appearance="outlined">
    <mat-card-header>
      <span class="material-icons-outlined icon-size">inventory</span>
      <mat-card-title-group class="center-content">
        <mat-card-title>SUPPLIES LEFT</mat-card-title>
        <mat-card-subtitle>{{totalSuppliesLeft}}</mat-card-subtitle>
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content>
    </mat-card-content>
  </mat-card>
  </div> 

<!-- GRAPH -->

  <div class="card-container">
    <mat-card class="example-card" appearance="outlined">
      <mat-card-header>
        <mat-card-title-group>
          <mat-card-title>Budget vs Actual</mat-card-title>
        </mat-card-title-group>
      </mat-card-header>
      <mat-card-content>
        <canvas id="MyFirstChart">{{ firstChart }}</canvas>
      </mat-card-content>
    </mat-card>
  
    <mat-card class="example-card2" appearance="outlined">
      <mat-card-header>
        <mat-card-title-group>
          <mat-card-title>Branch-Wise Spend Analysis</mat-card-title>
        </mat-card-title-group>
      </mat-card-header>
      <mat-card-content>
        <canvas id="MySecondChart">{{ secondChart }}</canvas>
      </mat-card-content>
    </mat-card>
  
  </div>

  
</main>

  <!-- End Main -->

